.row{style: "padding-top: 40px;"}
  .col-sm-12
    %h1
      = "#{@db_user_obj.twitter_handle}, Happy Shopping!!"
.container-fluid
  - @user_products.each_slice(3) do |products|
    .row
      - products.each do |product|
        .span3{style: "padding-left: 10px;"}
          .row
            =link_to image_tag(product[:image_url], style: "height: auto;"), product[:product_url]
          .row{style: 'font-size: 16px;'}
            =link_to product[:name], product[:product_url]
