.row
  .span6
    %h1
      = "#{@db_user_obj.twitter_handle}, Happy Shopping!!"

- @user_products.each_slice(2) do |products|
  .row
    - products.each do |product|
      .span6
        =link_to image_tag(product[:image_url]), product[:product_url]
      .span2
        =product[:name]

.row
  .span2.offset4
    = form_tag(signout_path, method: 'delete') do
      %fieldset
        %button.btn.btn-danger#sign_out
          = t('button.sign_out')
