.row{:'style' => 'text-align: center;'}
  .col-sm-12
    = form_tag '/auth/twitter', method: 'get', html: {class: 'form-horizontal'} do
      %fieldset
        .form-actions
          %button.btn.btn-large.btn-primary{:'style' => 'width: 300px; height: 50px; font-size: 21px'}
            = t('button.sign_in')
